.vscode
package.json
*.o
*.skel.json
*.skel.yaml
package.yaml
ecli
ecc
.output
struct_ops
prefetch_always_max
prefetch_none
prefetch_adaptive_simple
cleanup_struct_ops_tool
eviction_fifo
eviction_lfu
chunk_trace
